// nextflow.config

params {
  run_eqtl            = true
  run_coloc           = true
  run_fusion          = true
  run_prioritization  = true
  pvalue_threshold    = 0.1

  gwas_file           = "/home/hbashir1/Data/metaGWAS_outputbestand/MA_STDERR_gwas_prognose_update_maf005_r208_recur_1.tbl"

  // coloc params
  eqtl_file     = "/home/hbashir1/nmibc-geneprio/GTEx/filtered_merged_data_eqtl_gtex_results"

  // fusion params
  weights_dir         = "/home/hbashir1/nmibc-geneprio/Data/TWAS/tcga_expr_model/TCGA-BLCA.TUMOR_locus"
  ld_dir              = "/home/hbashir1/nmibc-geneprio/Data/TWAS/fusion_LD"
  weights_list        = "/home/hbashir1/nmibc-geneprio/Data/TWAS/tcga_expr_model/TCGA-BLCA.TUMOR.final.wglist.txt"

  // gene prioritization params
  eqtl_result_file       = "/home/hbashir1/nmibc-geneprio/results/eqtl_lookup/eqtl_lookup_result.txt"
  coloc_candidates_file  = "/home/hbashir1/nmibc-geneprio/results/coloc/coloc_candidate_genes.txt"
  fusion_results_dir     = "/home/hbashir1/nmibc-geneprio/results/fusion"
}

singularity {
  enabled    = true
  engine     = 'apptainer'   // force Apptainer if both are installed
  autoMounts = true

  // Global binds go *before* the .sif in the exec call:
  binds = [
    '/home/hbashir1/Data:/home/hbashir1/Data',
    '/home/hbashir1/nmibc-geneprio:/home/hbashir1/nmibc-geneprio'
  ]

  // Extra bind only for the FUSION_TWAS process:
  process {
    withName: 'FUSION_TWAS' {
      binds = [
        '/home/hbashir1/nmibc-geneprio/containers/fusion_twas:/fusion_twas'
      ]
    }
  }
}

process {
  // default image for all steps
  container = '/home/hbashir1/nmibc-geneprio/containers/fusion.sif'

  // keep your threading settings
  cpus = 16
  env.OPENBLAS_NUM_THREADS = '1'
  env.OMP_NUM_THREADS       = '1'

  // fusion‐specific CPU parallelism
  withName: 'FUSION_TWAS' {
    // still only 1 CPU per task…
    cpus     = 16
    // …but at most 4 parallel jobs
    maxForks = 1
  }

  // coloc uses the same image, no extra binds needed here
  withName: 'COLOC_ANALYSIS' {
    container = '/home/hbashir1/nmibc-geneprio/containers/fusion.sif'
  }
}

executor {
  queueSize = 2
}
